.integrations{
    background:#0b1025;
    color:white;
    padding:80px 0;
    text-align:center;
}

.integrations-container{
    width:90%;
    margin:auto;
}

.integrations h2{
    font-size:48px;
    margin-bottom:20px;
}

.integrations p{
    font-size:18px;
    color:#c7cce2;
    margin-bottom:50px;
}

.integration-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:25px;
}

.integration-card{
    background:#202a4b;
    border-radius:12px;
    width:220px;
    height:150px;
    margin:auto;
    padding:20px;
}

.integration-image{
    width:55px;
    height:55px;
    display:block;
    margin:10px auto 20px;
    object-fit:contain;
}

.integration-card h3{
    font-size:17px;
    margin:0;
    font-weight:600;
}

@media(max-width:900px){

    .integration-grid{
        grid-template-columns:1fr 1fr;
    }

}

@media(max-width:600px){

    .integration-grid{
        grid-template-columns:1fr;
    }

    .integrations h2{
        font-size:34px;
    }

    .integrations p{
        font-size:16px;
    }

    .integration-card{
        width:220px;
    }

}