.trusted {
    background-color:  rgb(9, 9, 74);
    padding: 60px 0;
    text-align: center;
}

.trusted h2 {
    color: pink;
    font-size: 32px;
    margin-bottom: 100px;
}

.brands-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brand-item {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}