.stories{
    width:100%;
    padding:90px 8%;
    background:#0b1324;
}

.stories h2{
    text-align:center;
    font-size:42px;
    color:#fff;
    margin-bottom:60px;
    font-weight:700;
}

.story-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    background:#1d2745;
    border-radius:14px;
    padding:45px;
}

.story-text{
    flex:1;
}

.story-text p{
    color:#ffffff;
    font-size:30px;
    line-height:1.6;
    font-weight:600;
    margin-bottom:40px;
}

.story-text h3{
    color:#fff;
    font-size:28px;
    margin-bottom:6px;
}

.story-text span{
    color:#bfc8d8;
    font-size:18px;
}

.story-text button{
    margin-top:35px;
    padding:14px 28px;
    border:none;
    border-radius:8px;
    background:#ff7a00;
    color:#fff;
    font-size:16px;
    cursor:pointer;
}

.story-text button:hover{
    background:#ff8d22;
}

.story-data{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.box{
    background:#273355;
    padding:35px 20px;
    border-radius:12px;
    text-align:center;
}

.box h3{
    color:#ff7a00;
    font-size:42px;
    margin-bottom:12px;
}

.box p{
    color:#ffffff;
    font-size:18px;
}

/* Tablet */

@media(max-width:992px){

.story-box{
    flex-direction:column;
}

.story-text p{
    font-size:24px;
}

.story-data{
    width:100%;
}

}

/* Mobile */

@media(max-width:768px){

.stories{
    padding:70px 20px;
}

.stories h2{
    font-size:30px;
    margin-bottom:40px;
}

.story-box{
    padding:25px;
}

.story-text p{
    font-size:19px;
}

.story-text h3{
    font-size:24px;
}

.story-text span{
    font-size:15px;
}

.story-data{
    grid-template-columns:1fr;
}

.box h3{
    font-size:34px;
}

.box p{
    font-size:16px;
}

.story-text button{
    width:100%;
}

}