.stories{
    background:#0b1024;
    padding:80px 10%;
    color:white;
}

.stories h2{
    text-align:center;
    font-size:48px;
    margin-bottom:50px;
}

.story-box{
    background:#1d2748;
    border-radius:15px;
    padding:40px;
    display:flex;
    justify-content:space-between;
    gap:40px;
}

.story-text{
    width:55%;
}

.story-text p{
    font-size:28px;
    line-height:1.6;
    font-weight:600;
}

.story-text h3{
    margin-top:30px;
    font-size:26px;
}

.story-text span{
    color:#b5b5b5;
    font-size:16px;
}

.story-text button{
    margin-top:25px;
    padding:12px 28px;
    border:none;
    border-radius:8px;
    background:#ff7a00;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.story-text button:hover{
    background:#ff9500;
}

.story-data{
    width:40%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.box{
    width:48%;
    background:#263257;
    border-radius:12px;
    padding:25px;
    margin-bottom:20px;
    text-align:center;
}

.box h3{
    font-size:42px;
    color:#ff7a00;
    margin-bottom:10px;
}

.box p{
    font-size:16px;
}

@media(max-width:768px){

    .story-box{
        flex-direction:column;
    }

    .story-text,
    .story-data{
        width:100%;
    }

    .box{
        width:100%;
    }

    .stories h2{
        font-size:34px;
    }

    .story-text p{
        font-size:22px;
    }
}