.research{
    background:#0b1025;
    padding:80px 20px;
}

.research-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.research-left{
    flex:1;
    min-width:300px;
}

.research-right{
    flex:1;
    min-width:300px;
}

.research-badge{
    color:#ff8c1a;
    border:1px solid #2c3352;
    padding:8px 18px;
    border-radius:20px;
    font-size:13px;
}

.research-left h2{
    color:white;
    font-size:58px;
    margin:25px 0;
    line-height:1.1;
}

.research-left p{
    color:#cfcfcf;
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}

.research-list{
    list-style:none;
    padding:0;
}

.research-list li{
    color:white;
    margin:14px 0;
    font-size:18px;
}

.research-image{
    width:100%;
    border-radius:18px;
    display:block;
}

@media(max-width:900px){

.research-container{
    flex-direction:column;
}

.research-left h2{
    font-size:42px;
}

}