.mega-menu {
  position: absolute;
  top: 55px;
  left: 0;

  width: 650px;
  padding: 30px;

  display: flex;
  gap: 50px;

  background-color: white;
  border-radius: 10px;
}
.menu-column {
  display: flex;
  flex-direction: column;
}

.menu-column h4 {
  margin-bottom: 15px;
  color: orange;
}

.menu-column a {
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
}

.menu-column a:hover {
  color: orange;
}