.navbar{
    width:100%;
    height:80px;
    background-color:blueviolet;
}

.navbar-container{
    width:90%;
    height:80px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:42px;
    font-weight:bold;
}

.nav-links{
    display:flex;
}

.nav-item{
    margin-left:35px;
}

.nav-item span{
    color:white;
    font-size:18px;
}

.contact-btn{
    background-color:orange;
    color:white;
    border:none;
    padding:12px 22px;
    font-size:15px;
}

.contact-btn:hover{
    background-color:darkorange;
}
.nav-item a {
  text-decoration: none;
  color: white;
}

.nav-item a:hover {
  color: #fff;
}
.nav-link {
  text-decoration: none;
  color: white;
}