.feature-section {
    width: 90%;
    margin: auto;
    padding: 70px 0;
    text-align: center;
}

.feature-section h2 {
    color: orange;
    font-size: 46px;
    margin-bottom: 25px;
}

.feature-section p {
    color: white;
    font-size: 20px;
    margin-bottom: 80px;
}

.feature-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.feature-card {
    width: 30%;
    text-align: left;
}

.feature-card h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.feature-card p {
    color: lightgray;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px;
}
.feature-icon{
    width: 78px;
    height: 78px;
    margin-bottom: 28px;
}
.feature-card h3{
    margin-top: 10px;
}