.journey{
    width:100%;
    background:#0b1324;
    padding:90px 8%;
}

.journey-container{
    max-width:1200px;
    margin:auto;
    text-align:center;
}

.journey-tag{
    display:inline-block;
    padding:8px 18px;
    border:1px solid #3a4b70;
    border-radius:20px;
    color:#ff8a00;
    font-size:14px;
    margin-bottom:20px;
}

.journey h2{
    color:#fff;
    font-size:58px;
    line-height:1.2;
    margin-bottom:20px;
}

.journey-text{
    width:700px;
    margin:0 auto;
    color:#c6d1e5;
    font-size:18px;
    line-height:1.8;
}

.journey-list{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:70px;
}

.journey-box{
    background:#222d4c;
    padding:35px 28px;
    border-radius:12px;
    text-align:left;
}

.number{
    width:55px;
    height:55px;
    background:#ff8a00;
    color:#fff;
    font-size:24px;
    font-weight:bold;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;
}

.journey-box h3{
    color:#fff;
    font-size:28px;
    margin-bottom:18px;
}

.journey-box p{
    color:#c6d1e5;
    font-size:17px;
    line-height:1.8;
}