.journey{
    padding:80px 0;
    background:#0b1026;
}

.journey-container{
    width:90%;
    margin:auto;
    text-align:center;
}

.journey-tag{
    display:inline-block;
    padding:8px 18px;
    border:1px solid #2c3558;
    border-radius:20px;
    color:#ff7b22;
    font-size:13px;
    margin-bottom:20px;
}

.journey h2{
    color:#fff;
    font-size:55px;
    margin-bottom:20px;
}

.journey-text{
    color:#b7bfd6;
    font-size:18px;
    max-width:650px;
    margin:0 auto 60px;
    line-height:30px;
}

.journey-list{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.journey-box{
    width:260px;
    background:#20294d;
    border-radius:12px;
    padding:30px 25px;
    text-align:left;
}

.number{
    width:55px;
    height:55px;
    background:#ff7b22;
    color:#fff;
    font-size:24px;
    font-weight:bold;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
}

.journey-box h3{
    color:#fff;
    font-size:28px;
    margin-bottom:15px;
}

.journey-box p{
    color:#c2c9df;
    font-size:16px;
    line-height:28px;
}

@media(max-width:900px){

    .journey h2{
        font-size:40px;
    }

    .journey-box{
        width:100%;
        max-width:320px;
    }

}